/* Estilo base*/
* {
    margin:0px;
    padding:0px;
}
body{
    font-family: freight-big-pro, serif, Arial, Helvetica, sans-serif;
}
/*VARIABLES*/
:root{
    --primario: #f29b18;
    --blanco: #ffffff;
}
/*Cabecera*/
header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 11vh;
    z-index: 2;
    width: 100%;
    transition: all ease 1s;
    background: transparent;
}
.scrolleado{
    background: #494949;
}
header img{
    width:11vh;
    padding-left: 60px;
}
/*Menú navegación*/
header a{
    text-decoration: none;
}
header ul{
    list-style: none;
}

#menu{
    padding-right: 60px;
}

#menu li > a{
    font-size: 1.2rem;
    color: var(--blanco);
    font-weight:200;
    text-decoration: none;
    padding: 5px;
    display: block;
    min-width: 100px;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition: all 500ms ease;
}
#menu li > a:hover{
    color: var(--primario);
}
#menu > li{
    float: left;
    text-align: center;
}
#menu li ul{
    display: none;
    position: absolute;
    min-width: 140px;
    background-color: var(--blanco);
    padding: 5px;
}
#menu li:hover > ul{
    display: block;
}
#menu li ul li{
    position: relative;
}
#menu li ul li a{
    color: black;
    font-weight: 500;
    position: relative;
}
#menu li ul li ul{
    right: -140px;
    top: 0px;
}

  .splide__slide{
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .splide__slide h2{
      color: rgb(255, 255, 255);
      z-index: 5;
      text-align: center;
      font-size: 3.5rem;
      font-weight: 400;
      text-shadow: 4px 4px 5px rgb(61, 61, 61);
  }

  .splide__slide span{
    color: rgb(255, 255, 255);
    z-index: 5;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    text-shadow: 4px 4px 5px rgb(61, 61, 61);
}
.contenido_slider{
    text-align: center;
}