/* Estilo base*/
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
h1, h2, h3, h4, h5, h6{
  color: #3e3e3e;
  text-transform: uppercase;
}
* {
    margin:0px;
    padding:0px;
}
body{
    font-family: 'Lato', sans-serif, serif, Arial, Helvetica;
    background-color: #f7f7f7;
    margin: 0 0 100px;
}
html{
  position: relative;
  min-height: 100%;
}
/*VARIABLES*/
:root{
    --primario: #daa520;
    --blanco: #ffffff;
}
/*Cabecera*/
header{
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 11vh;
    z-index: 2;
    width: 100%;
    transition: all ease 1s;
    background: transparent;
}
.scrolleado{
    background: #7e6f5c;
}
header img{
    width:11vh;
    padding-left: 60px;
}
/*Menú navegación*/
#menu {
    list-style-type: none;
    position: relative;
    padding-right: 60px;
  }
  
  #menu li {
    display: inline-block;
    position: relative;
  }
  
  #menu li:hover {
    text-decoration: underline;
  }
  
  #menu li a {
    color: rgb(240, 240, 240);
    text-decoration: none;
    font-size: 1.2rem;
    padding: 15px;
    display: block;
  }
  
  #menu ul {
    position: absolute;
    min-width: 200px;
    background-color: #8b8071bb;
    display: none;
  }
  
  #menu ul li {
    display: block;
  }
  
  #menu li:hover ul {
    display: block;
  }

  footer{
    background-color: #7e6f5c;
    min-height: 80px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  #iconosFooter{
    font-size:48px;
    padding: 0 15px;
    padding-left: 40px;
  }

  #iconosFooter a{
    text-decoration: none;
    color: var(--primario);
    transition: all 0.5s;
  }
  
  footer .fa{
    padding-right: 15px;
  }
  
  #iconosFooter a:hover{
    color: white;
  }
  
  .fa-caret-down {
    margin-left: 10px;
  }
  .fa-bars{
    padding-right: 60px;
  }
  nav div {
    color: rgb(240, 240, 240);
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
    display: none;
  }
  nav:after{
    content: '';
    clear: both;
    display: table;
  }
  @media(max-width: 767px) {
    nav div {
      display: block;
    }
    #menu {
      display: none;
      position: static;
      background-color: rgb(36, 36, 36);
      padding-right: 60px;
    }
  
    #menu li {
      display: block;
    }
    #menu ul {
      position: static;
      background-color: rgb(36, 36, 36);
    }
  }

  .splide__slide{
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .splide__slide h2{
      color: rgb(255, 255, 255);
      z-index: 5;
      text-align: center;
      font-size: 3.5rem;
      font-weight: 400;
      text-shadow: 4px 4px 5px rgb(61, 61, 61);
  }

  .splide__slide span{
    color: rgb(255, 255, 255);
    z-index: 5;
    text-align: center;
    font-size: 2rem;
    font-weight: 300;
    text-shadow: 4px 4px 5px rgb(61, 61, 61);
}
.contenido_slider{
    text-align: center;
}

p{
  font-size: 1.2rem;
  line-height: 25px;
  color: #3e3e3e;
}
h2{
  font-size: 1.5rem;
}
.tituloAlt{
  color:var(--primario);
  text-transform: uppercase;
}
h3{
  color: var(--primario);
  font-size: 1.5rem;
  margin-bottom: 10px;
}
.contenido{
  margin: 0 auto;
}
.contenido section{
  max-width: 1920px;
  margin: 0 auto;
  margin-top: 3.5%;
  padding: 0 30px;
}
#habitacionesYSuites{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#habitacionesYSuites img{
  width: 100%;
  margin-left: -80px;
  object-fit: cover;
  height: 75%;
}
#hYSContenido{
  margin-right: -80px;
  margin-left: 80px;
  z-index: 1;
  margin-top: 20px;
  margin-bottom: 220px;
  background-color: #dfdfdf;
  border: 1px solid #acacac;
  padding: 30px;
  text-align: justify;
}
@media (max-width: 1228px){
  #habitacionesYSuites img{
    height: 80%;
  }
}
button{
  background-color: var(--primario);
  border: 1px solid var(--primario);
  padding: 5px 15px;
  font-size: 1.2rem;
  color: white;
}
button:hover{
  background-color: white;
  color:var(--primario);
  cursor:pointer;
}
#ofertas{
  margin-top: -100px;
  padding: 30px;
  background-color: #c5baac;
  padding-left: 80px;
  padding-right: 80px;
}
#ofertas h2{
  text-align: center;
  padding-bottom: 20px;
  font-size: 2rem;
}
#ofertas p{
  text-align: justify;
  padding-bottom: 20px;
}
#ofertasActuales{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 5%;
  margin: 0 100px;
}
#ofertasActuales div{
  background-color:#dfdfdf;
}
#ofertasActuales img{
  width: 100%;
  object-fit: cover;
  height: 250px;
}
#ofertasActuales p{
  min-height: 125px;
}
#ofertasActuales button{
  margin-top: 20px;
}
@media(max-width: 1516px){
  #ofertasActuales p{
    min-height: 200px;
  }
}
.ofertasContenido{
  padding: 30px;
}

#comidas{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  padding-left: 80px;
  padding-right: 80px;
}
#comidas p{
  text-align: justify;
}
#comidasImagen{
  background-image: url(../img/comidas.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#comidasContenido{
  padding: 30px;
  padding-bottom: 100px;
}
#comidasContenido *{
  padding-bottom: 20px;
}

#zonaDigital{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 3.5%;
  padding-bottom: 3.5%;
  background-color: #dfdfdf;
}
#zonaDigital p{
  text-align: justify;
}
#zdImagen{
  background-image: url(../img/salaordenadores.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
#zdContenido{
  padding: 30px;
  padding-bottom: 100px;
}
#zdContenido *{
  padding-bottom: 20px;
}




/* RESPONSIVE TABLET*/
@media(max-width: 1100px){
  .contenido section{
    margin: 0 auto;
    margin-top: 3.5%;
    padding: 10px;
  }
  #habitacionesYSuites{
    display: flex;
    flex-wrap: wrap-reverse;
  }
  #habitacionesYSuites img{
    margin-left: 0;
    height: 300px;
    margin: 0;
  }
  #hYSContenido{
    margin: 0;
    margin-top: -2px;
    z-index: 1;
    background-color: #dfdfdf;
    border: 1px solid #acacac;
    padding: 10px;
    text-align: center;
  }
  #ofertas{
    margin-top: 3.5%;
    padding: 15px;
  }
  #ofertas p{
    text-align: center;
  }
  #ofertasActuales{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    margin: 0 20px;
    padding: 0 30px;
    grid-row-gap: 20px;
    text-align: center;
  }
  #ofertasActuales p{
    min-height: 0;
    text-align: center;
  }
  #comidas{
    padding:0 10px;
    padding-top: 3.5%;
  }
  #zonaDigital{
    padding: 3.5% 10px;
  }
  #comidasContenido{
    padding: 15px;
    padding-bottom: 100px;
  }
}




/* RESPONSIVE MOVIL*/
@media(max-width: 767px){
  p{
    font-size: 0.9rem;
  }
  h2{
    font-size: 1.5rem!important;
  }
  span{
    font-size: 1.2rem!important;
  }
  h3{
    font-size: 1rem;
  }
  .contenido section{
    margin: 0 auto;
    margin-top: 3.5%;
    padding: 0;
  }
  #habitacionesYSuites{
    display: flex;
    flex-wrap: wrap-reverse;
  }
  #habitacionesYSuites img{
    margin-left: 0;
    height: 220px;
    margin: 0;
  }
  #hYSContenido{
    margin: 0;
    margin-top: -3px;
    z-index: 1;
    background-color: #dfdfdf;
    border: 1px solid #acacac;
    padding: 10px;
    text-align: center;
  }
  #ofertas{
    padding: 10px;
  }
  #ofertasActuales{
    margin: 0px;
    padding: 0 10px;
  }
  #comidas{
    padding: 3.5% 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
  }
  #comidasContenido{
    padding: 10px;
    text-align: center;
    grid-row: 2;
  }
  #comidasContenido p{
    text-align: center;
  }
  #comidasImagen{
    max-height: 250px;
    grid-row: 1;
  }
  #zonaDigital{
    padding: 3.5% 10px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 250px 1fr;
  }
  #zdContenido{
    padding: 10px;
    text-align: center;
  }
  #zdContenido p{
    text-align: center;
  }
  #zdImagen{
    max-height: 250px;
  }
}