/* Estilo base*/
* {
    margin:0px;
    padding:0px;
}
body{
    font-family: Arial, Helvetica, sans-serif;
}

/*Cabecera*/
header{
    position: fixed;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color:#49494900;
    min-height: 11vh;
    z-index: 2;
    width: 100%;
}
header img{
    width:11vh;
    padding-left: 60px;
}
/*Menú navegación*/
header a{
    text-decoration: none;
}
header ul{
    list-style: none;
}

#menu{
    padding-right: 60px;
}

#menu li > a{
    color: #f7f7f7;
    font-weight:600;
    text-decoration: none;
    padding: 5px;
    display: block;
    min-width: 150px;
    -webkit-transition:all 500ms ease;
    -o-transition:all 500ms ease;
    transition: all 500ms ease;
}
#menu li > a:hover{
    color: #229dc2;
}
#menu > li{
    float: left;
    text-align: center;
}
#menu li ul{
    display: none;
    position: absolute;
    min-width: 140px;
    background-color: #ebebeb;
    padding: 5px;
}
#menu li:hover > ul{
    display: block;
}
#menu li ul li{
    position: relative;
}
#menu li ul li a{
    color: black;
    font-weight: 500;
    position: relative;
}
#menu li ul li ul{
    right: -140px;
    top: 0px;
}

  .splide__slide{
    z-index: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .splide__slide h2{
      position: absolute;
      color: rgb(255, 255, 255);
      z-index: 5;
      text-align: center;
  }

  .splide__slide span{
    position: absolute;
    bottom: 40%;
    color: rgb(255, 255, 255);
    z-index: 5;
    text-align: center;
}