<footer>
    <div id="iconosFooter">
        <a href="https://www.facebook.com" target="_blank"> <i class="fa fa-facebook"></i></a>
        <a href="https://www.twitter.com" target="_blank"><i class="fa fa-twitter"></i></a>
        <a href="https://www.instagram.com" target="_blank"><i class="fa fa-instagram"></i></a>
    </div>
    <div id="navegacionFooter">
        <a href="legal.php" class="enlaceFooter">Aviso Legal</a>
        <a href="privacidad.php" class="enlaceFooter">Política de Privacidad</a>
        <a href="cookies.php" class="enlaceFooter">Política de Cookies</a>
        <a href="contactar.php" class="enlaceFooter">Contactar</a>
    </div>
</footer>