<header>
    <div>
        <h1>Gala d'Or</h1>
    </div>
    <nav>
        <ul id="menu">
            <li><a href="index.php">Inicio</a></li>
            <li><a href="empresa.php">Nuestra Empresa</a></li>
            <li><a href="reservar.php">Reservar</a></li>
            <li><a href="contactar.php">Contactar</a>
                <ul>
                    <li><a href="faq.php">Preguntas Frecuentes</a></li>
                </ul>
            </li>
            <li><a href="login.php">Iniciar Sesión</a>
                <ul>
                    <li><a href="registrar.php">Registrarse</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>