<header>
    <div>
        <img src="img/logo_small.png" alt="logo gala d'or">
    </div>
    <nav>
        <ul id="menu">
            <li><a href="index.php">Inicio</a></li>
            <li><a href="#">Nuestra Empresa</a></li>
            <li><a href="#">Reservar</a></li>
            <li><a href="#">Contactar</a>
                <ul>
                    <li><a href="#">Preguntas Frecuentes</a></li>
                </ul>
            </li>
            <li><a href="#">Iniciar Sesión</a>
                <ul>
                    <li><a href="#">Registrarse</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>